<a href="https://colab.research.google.com/github/FilipeMadeira13/Seasonal-Rainfall-Data-Cleaning/blob/main/notebooks/Messy_Data_for_Data_Cleaning_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando a biblioteca pandas

In [53]:
import pandas as pd

# Carregando o arquivo

In [54]:
data = pd.read_excel('../data/raw/messy-data.xlsx', sheet_name='messy', header=1)
data.head()

   Unnamed: 0     Unnamed: 1     Unnamed: 2 Unnamed: 3
0         NaN  Month, period  Lake Victoria     Simiyu
1         NaN  Jan,2001-2019        3.176mm   2.908474
2         NaN  Feb,2001-2019        3.477mm      1.8mm
3         NaN  Mar,2001-2019       4.687053   2.981053
4         NaN  Apr,2001-2019       7.004526   4.753579

# Descartando a coluna vazia

In [55]:
data.drop(columns='Unnamed: 0', inplace=True)

In [56]:
data.head()

      Unnamed: 1     Unnamed: 2 Unnamed: 3
0  Month, period  Lake Victoria     Simiyu
1  Jan,2001-2019        3.176mm   2.908474
2  Feb,2001-2019        3.477mm      1.8mm
3  Mar,2001-2019       4.687053   2.981053
4  Apr,2001-2019       7.004526   4.753579

# Corrigindo o nome das colunas

In [57]:
data.columns = data.iloc[0]
data.head()

0  Month, period  Lake Victoria    Simiyu
0  Month, period  Lake Victoria    Simiyu
1  Jan,2001-2019        3.176mm  2.908474
2  Feb,2001-2019        3.477mm     1.8mm
3  Mar,2001-2019       4.687053  2.981053
4  Apr,2001-2019       7.004526  4.753579

In [58]:
data = data.iloc[1:].reset_index(drop=True)
data.head()

0  Month, period Lake Victoria    Simiyu
0  Jan,2001-2019       3.176mm  2.908474
1  Feb,2001-2019       3.477mm     1.8mm
2  Mar,2001-2019      4.687053  2.981053
3  Apr,2001-2019      7.004526  4.753579
4  May,2001-2019      9.362789  4.077474

# Separando a coluna "Month, period"

In [59]:
data[['Month', 'Period']] = data['Month, period'].str.split(',', expand=True)
data = data.drop(columns='Month, period')
data.head()

0 Lake Victoria    Simiyu Month     Period
0       3.176mm  2.908474   Jan  2001-2019
1       3.477mm     1.8mm   Feb  2001-2019
2      4.687053  2.981053   Mar  2001-2019
3      7.004526  4.753579   Apr  2001-2019
4      9.362789  4.077474   May  2001-2019

# Verificando os tipos dos dados e verificando se existem valores nulos

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Lake Victoria  12 non-null     object
 1   Simiyu         12 non-null     object
 2   Month          12 non-null     object
 3   Period         12 non-null     object
dtypes: object(4)
memory usage: 516.0+ bytes

# Verificando inconsistÃªncias na coluna 'Lake Victoria', corrigindo e convertendo a para float

In [61]:
data['Lake Victoria'].unique()

array(['3.176mm', '3.477mm', 4.687052632, 7.004526316, 9.362789474,
       3.430210526, 1.764421053, 2.812631579, 3.978894737, 5.318421053,
       5.118473684, 4.168105263], dtype=object)

In [62]:
data['Lake Victoria'] = data['Lake Victoria'].astype(str).str.replace('mm', '').str.strip().astype(float)

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Lake Victoria  12 non-null     float64
 1   Simiyu         12 non-null     object
 2   Month          12 non-null     object
 3   Period         12 non-null     object
dtypes: float64(1), object(3)
memory usage: 516.0+ bytes

# Renomeando o nome das colunas

In [64]:
data = data.rename(columns={
    'Month': 'month',
    'Period': 'period',
    'Lake Victoria': 'rainfall_mm_lake_victoria',
    'Simiyu': 'rainfall_mm_simiyu'
})
data.head()

0  rainfall_mm_lake_victoria rainfall_mm_simiyu month     period
0                   3.176000           2.908474   Jan  2001-2019
1                   3.477000              1.8mm   Feb  2001-2019
2                   4.687053           2.981053   Mar  2001-2019
3                   7.004526           4.753579   Apr  2001-2019
4                   9.362789           4.077474   May  2001-2019

In [65]:
data['rainfall_mm_simiyu'].unique()

array([2.908473684, '1.8mm', 2.981052632, 4.753578947, 4.077473684,
       1.046947368, 0.1952105263, 0.3336315789, 1.205842105, 2.454736842,
       3.091421053, 3.890052632], dtype=object)

# Convertendo a coluna rainfall_mm_simiyu para float

In [66]:
data['rainfall_mm_simiyu'] = data['rainfall_mm_simiyu'].astype(str).str.replace('mm', '').str.strip().astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rainfall_mm_lake_victoria  12 non-null     float64
 1   rainfall_mm_simiyu         12 non-null     float64
 2   month                      12 non-null     object
 3   period                     12 non-null     object
dtypes: float64(2), object(2)
memory usage: 516.0+ bytes

# Corrigindo a ordem e categorizando a coluna "month"

In [67]:
month_order = [
    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
]

data['month'] = pd.Categorical(
    data['month'],
    categories=month_order,
    ordered=True
)

In [68]:
data = data.sort_values('month').reset_index(drop=True)

# Separando a coluna "period" e converto o resultado para o tipo int

In [69]:
data[['period_start', 'period_end']] = data['period'].str.split('-', expand=True).astype(int)
data.drop(columns='period', inplace=True)
data.head()

,rainfall_mm_lake_victoria,rainfall_mm_simiyu,month,period_start,period_end
0,3.176000,2.908474,Jan,2001,2019
1,3.477000,1.800000,Feb,2001,2019
2,4.687053,2.981053,Mar,2001,2019
3,7.004526,4.753579,Apr,2001,2019
4,9.362789,4.077474,May,2001,2019

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rainfall_mm_lake_victoria  12 non-null     float64
 1   rainfall_mm_simiyu         12 non-null     float64
 2   month                      12 non-null     category
 3   period_start               12 non-null     int64
 4   period_end                 12 non-null     int64
dtypes: category(1), float64(2), int64(2)
memory usage: 924.0 bytes

# Organizando a ordem das colunas

In [72]:
new_order = [
    'month',
    'period_start',
    'period_end',
    'rainfall_mm_lake_victoria',
    'rainfall_mm_simiyu'
]

data = data[new_order]
data.head()

,month,period_start,period_end,rainfall_mm_lake_victoria,rainfall_mm_simiyu
0,Jan,2001,2019,3.176000,2.908474
1,Feb,2001,2019,3.477000,1.800000
2,Mar,2001,2019,4.687053,2.981053
3,Apr,2001,2019,7.004526,4.753579
4,May,2001,2019,9.362789,4.077474

# Salvando o dataset em um arquivo csv

In [73]:
data.to_csv(
    '../data/processed/seasonal_rainfall_clean.csv',
    index=False
)